.action_panel{
    background-color: #FEFAE0;
    padding: 10px;
    border-radius: 20px;
    width: 450px;
    border: 2px solid #D4CCA5;
}

.action_title{
    font-weight: 600;
}

.action_button{
    font-size: 16px;
    border: 0px;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #BC6C25;
}

.action_button:hover{
    background-color: #DDA15E;
    transition: 0.5s;
}

.action_list{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.inventory_list{
    padding-left: 20px;
}

.inventory_item{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: #fef2c1;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid #D4CCA5
}

.inventory_button{
    font-size: 16px;
    border: 0px;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #BC6C25;
}

.inventory_button:hover{
    background-color: #DDA15E;
    transition: 0.5s;
}

.group_item{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fef2c1;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid #D4CCA5
}

.quest_item{
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 20px;

}

.quest_active{
    background-color: #d68b5c;
}

.quest_done{
    background-color: #aef197;

}