.action_panel{
    background-color: #FEFAE0;
    padding: 10px;
    border-radius: 20px;
    width: 400px;
    border: 2px solid #D4CCA5;
}

.action_title{
    font-weight: 600;
}

.action_button{
    font-size: 16px;
    border: 0px;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #BC6C25;
}

.action_button:hover{
    background-color: #DDA15E;
    transition: 0.5s;
}